@font-face {
    font-family: head;
    src: url(Heading-Now-Variable.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body {
    height: 100%;
    width: 100%;
}
#loader{
    height: 100vh;
    width: 100%;
    background-color: rgb(221, 221, 221);
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loader h1{
    font-size: 100px;
    font-family: monument;
    font-weight: 100;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: black;
    overflow: hidden;
    padding-bottom: 20px;
}
#page1 h1{
    font-size: 37vw;
    color: white;
    text-transform: uppercase;
    font-family: head;
    white-space: nowrap;
    font-stretch: 250%;
    font-weight: 999;
    
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: rgb(221, 221, 221);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
    line-height: 3;
}

